h1,
h2,
h3,
h4 {
    font-weight: 500;
}

#cover {
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    max-height: -webkit-fill-available;
}

header {
    display: grid;
    place-items: center;
}

header h1 {
    font-size: 125%;
    padding: 0.5rem;
    margin: 0.5rem;
    text-align: center;
    width: 90%;
    transform: scaleX(-1);
    place-self: start center;
}

header h1 span {
    letter-spacing: 0.025rem;
}

#cover #qr {
    pointer-events: none;
    user-select: none;
    width: 15%;
    max-width: 7.5rem;
}

@page {
    size: Legal portrait;
    margin: 0;
}

@media print {
    html {
        font-size: 2.5vw;
    }

    header h1 {
        transform: scaleX(1);
        margin: 1rem;
    }
}